.badge {
    padding: 4px 8px;
    border-radius: 6px;
    font-size: 12px;
    line-height: 18px;
    background-color: #F2F4F7;
    color: #1D2939;
    text-align: center;
}

.recruitment {
    background-color: #E2EEFE;
    color: #4090F7;
}

.recruitmentCompletion {
    background-color: #F9E3EF;
    color: #D84493;
}