@use '../color';

@mixin grid--margin($margin) {
    margin: $margin;
}

@mixin grid--padding($padding) {
    padding: $padding;
}

@mixin grid--row-gap($row-gap) {
    row-gap: $row-gap;
}

@mixin grid--width($width) {
    width: $width;
}

@mixin grid--height($height) {
    height: $height;
}

@mixin grid--box-sizing($box-sizing) {
    box-sizing: $box-sizing;
}

@mixin grid--background-color($background-color) {
    background-color: $background-color;
}

.grid {
    display: grid;
    margin: 0;
}

// margin
.grid--margin-110px-auto-0-auto {
    @include grid--margin(110px auto 0 auto);
}

.grid--margin-80px-auto-0-auto {
    @include grid--margin(80px auto 0 auto);
}

.grid--margin-80px-auto-80px-auto {
    @include grid--margin(80px auto 80px auto);
}

.grid--margin-0-auto {
    @include grid--margin(0 auto);
}

.grid--margin-155px-0-0-0 {
    @include grid--margin(155px 0 0 0);
}

//

// padding
.grid--padding-13px-103px {
    padding: 13px 103px;
}

.grid--padding-70px-103px-0-103px {
    padding: 70px 103px 0 103px;
}

.grid--padding-70px-0-74px-0 {
    padding: 70px 0 74px 0;
}

//

// row-gap
.grid--row-gap-20px {
    @include grid--row-gap(20px);
}

.grid--row-gap-40px {
    @include grid--row-gap(40px);
}

.grid--row-gap-12px {
    @include grid--row-gap(12px);
}

.grid--row-gap-15px {
    @include grid--row-gap(15px);
}

.grid--row-gap-10px {
    @include grid--row-gap(10px);
}

.grid--row-gap-8px {
    @include grid--row-gap(8px);
}

.grid--row-gap-6px {
    @include grid--row-gap(6px);
}

.grid--row-gap-70px {
    @include grid--row-gap(70px);
}

//

// column-gap
.grid--column-gap-36px {
    column-gap: 36px;
}

//

// width
.grid--width-392px {
    @include grid--width(392px);
}

.grid--width-400px {
    @include grid--width(400px);
}

.grid--width-416px {
    @include grid--width(416px);
}

.grid--width-1160px {
    @include grid--width(1160px);
}

//

// justify-content
.grid--justify-content-space-between {
    justify-content: space-between;
}

.grid--justify-content-start {
    justify-content: start;
}

//

// grid-auto-flow
.grid--grid-auto-flow-column {
    grid-auto-flow: column;
}

//

// grid-template-columns
.grid--grid-template-columns-auto-54px {
    grid-template-columns: auto 54px;
}

// border-bottom
.grid--border-bottom-1px-solid-gray-200 {
    border-bottom: 1px solid color.$gray-200;
}

//

// border
.grid--border-1px-solid-gray-200 {
    border: 1px solid color.$gray-200;
}

.grid--border-1px-solid-red {
    border: 1px solid color.$red;
}

//

// border-radius
.grid--border-radius-6px {
    border-radius: 6px;
}

//

// height
.grid--height-400px {
    @include grid--height(400px);
}

//
.grid--box-sizing-border-box {
    @include grid--box-sizing(border-box);
}

//

// background-color
.grid--background-color-gray-000 {
    @include grid--background-color(color.$gray-000);
}