.input {
    background-color: #FFFFFF;
    font-size: 16px;
    color: #101828;
    outline: none;

    &::placeholder {
        color: #98A2B3;
    }
}

.input--text {
    border: 1px solid #E4E7EC;
    border-radius: 6px;
    padding: 14px 15px;
}

.input--password {
    border: none;
    border-radius: 6px 0 0 6px;
    padding: 14px 0 14px 15px;
}

.iconBtn {
    background-color: inherit;
    border: none;
    border-radius: 0 6px 6px 0;
    width: auto;
    height: auto;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
}

.visibility-off {
    background-image: url("../../img/ic_visibility_off_24dp.svg");
}

.visibility-on {
    background-image: url("../../img/ic_visibility_on_24dp.svg");
}

.warning {
    border-color: #F36355;
}

.right {
    background-color: #E8F0FE;
}