@use '../color';

.link {
    font-size: 14px;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    letter-spacing: -1px;
    line-height: 18px;
    cursor: pointer;
}

.link--primary {
    color: color.$gray-500;
    text-decoration: none;
}

.link--email {
    color: color.$blue;
    text-decoration: underline solid auto color.$blue;
}

.link--header-link {
    color: color.$black;
    font-size: 15px;
    padding: 7px 0 8px 0;
    line-height: 19px;
    text-decoration: none;
}

.link--prev-link {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    column-gap: 1px;
    padding: 8px 1px;
    border: none;
    background-color: color.$white;
    text-decoration: none;
}