@use '../color';

@mixin text--color($color) {
    color: $color;
}

@mixin text--font-size($font-size) {
    font-size: $font-size;
}

@mixin text--line-height($line-height) {
    line-height: $line-height;
}

@mixin text--text-align($text-align) {
    text-align: $text-align;
}

@mixin text--font-weight($font-weight) {
    font-weight: $font-weight;
}

@mixin text--margin($margin) {
    margin: $margin;
}

.text {
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    letter-spacing: -1px;
    font-weight: normal;
}

// font-size
.text--font-size-14px {
    @include text--font-size(14px);
}

.text--font-size-16px {
    @include text--font-size(16px);
}

//

// lien-height
.text--line-height-20px {
    @include text--line-height(20px);
}

.text--line-height-22px {
    @include text--line-height(22px);
}

.text--line-height-26px {
    @include text--line-height(26px);
}

//

// color
.text--color-gray-500 {
    @include text--color(color.$gray-500);
}

.text--color-red {
    @include text--color(color.$red);
}

.text--color-blue {
    @include text--color(color.$blue);
}

.text--color-gray-600 {
    @include text--color(color.$gray-600);
}


//

// text-align
.text--text-align-center {
    @include text--text-align(center);
}

//

// font-weight
.text--font-weight-bold {
    @include text--font-weight(bold);
}

//

// margin
.text--margin-2px-0 {
    margin: 2px 0;
}

//